{{- $u := urls.Parse .Destination -}}
{{- $path := strings.TrimPrefix "./" $u.Path -}}
{{- $src := $u.String -}}
{{- $img := .Page.Resources.Get $path -}}
{{- if $img -}}
  {{- if eq $img.MediaType.SubType "svg" -}}
    <img
      class="mw-100 h-auto"
      src="{{ $img.RelPermalink | safeURL }}"
      alt="{{ .PlainText }}"
    />
  {{- else -}}
    {{- $small := $img.Fit "480x480 webp" }}
    {{- $medium := $img.Fit "768x768 webp" }}
    {{- $large := $img.Fit "1024x1024 webp" }}
    {{- $original := $img.RelPermalink -}}
    <img
      class="mw-100 h-auto"
      width="{{ $img.Width }}"
      height="{{ $img.Height }}"
      srcset="
        {{ $small.RelPermalink }}  480w,
        {{ $medium.RelPermalink }}  768w,
        {{ $large.RelPermalink }} 1024w
      "
      src="{{ $original }}"
      loading="lazy"
      alt="{{ .PlainText }}"
      {{- with .Title }}title="{{ . }}"{{- end -}}
    />
  {{- end -}}
{{- end -}}
{{- /**/ -}}
